body{
    font-family: Arial, sans-serif;
    background-color: #253148;
}

.container {
    width: 400px;
    margin: 110px 0 0 520px;
    padding: 20px;
    background-color: #5a91a2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #1e1e1e;
}

h2 {
    text-align: center;
}

form {
    text-align: left;
}

.form-group {
    margin: 10px 0;
    color: #1e1e1e;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #e45e2d;
    color: #000000;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer; 
    text-size-adjust: 100px;
}

input[type="submit"]:hover {
    background-color: #d47653;
}
